.selectionInfoButton {
  padding: 0.1rem;
  border-radius: 8px;
  background: none;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }

  svg {
    color: var(--gourmet-neutral-8);
  }
}
