.cardsOverview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  column-gap: 0.5rem;
  justify-content: center;
}

@media (max-width: 1110px) {
  .cardsOverview {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 930px) {
  .cardsOverview {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 750px) {
  .cardsOverview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 565px) {
  .cardsOverview {
    grid-template-columns: repeat(2, 1fr);
  }
}
