.mainContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 1.5rem;
  max-width: 1280px;

  overflow: visible;
}

.root {
  width: 50%;

  @media (max-width: 720px) {
    width: 100%;
  }
}

.item {
  margin: 0 0 2rem 1rem;
  border: none;

  p {
    margin: 0;
  }

  button {
    border-radius: 5px;
    border: none;
    color: var(--gourmet-orange-1);
    background-color: var(--gourmet-orange-2);

    height: fit-content;
    padding: 0 1rem 0 1rem;
  }
}
