.banner {
  background-color: var(--gourmet-orange-1);
  color: var(--gourmet-black-1);

  p {
    font-weight: 500;
    font-size: 0.85rem;
    font-family: var(--cgm-content-font-family), sans-serif;
    color: var(--gourmet-black-1);
  }
}

.resendButton {
  text-decoration: underline;

  &[data-disabled="true"] {
    text-decoration-color: var(--gourmet-orange-3);

    > p {
      color: var(--gourmet-orange-3);
    }
  }
}
