.selectionDisplay {
  @media (max-width: 580px) {
  }
}

.selectionButton:hover {
  background-color: color-mix(var(--gourmet-orange-1), black 5%);
}

.selectionInfoButton {
  padding: 0.1rem;
  border-radius: 8px;
  background: none;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }

  svg {
    color: var(--gourmet-neutral-8);
  }
}

.selectionShowButton {
  padding: 0.1rem;
  border-radius: 8px;
  background: none;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }

  svg {
    color: var(--gourmet-neutral-8);
  }
}
