VITE_OAUTH_GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
VITE_API_BASE_URL=https://api.cardgourmet.dev
VITE_CARDGOURMET_BASIC_USERNAME=<username>
VITE_CARDGOURMET_BASIC_PASSWORD=<password>
