.card {
  position: relative;
  word-break: break-all;

  border-radius: 15px;
  object-fit: contain;
  aspect-ratio: 672 / 936;
  max-width: 252px;
  max-height: 351px;

  img {
    border-radius: 15px;
    width: 100%;
    height: 100%;

    &:hover {
      filter: brightness(1.1);
    }
  }

  &:hover {
    z-index: 1 !important;
  }
}

.card:has(:focus-visible) [data-toggle-visibility="true"],
.card:hover [data-toggle-visibility="true"] {
  visibility: visible;
}

.card:has(:focus-visible) [data-toggle-visibility="true"],
.card:hover [data-toggle-visibility="true"] {
  visibility: visible;
}

.cardSkeleton {
  position: absolute;
  inset: 0;
  z-index: 1;
  aspect-ratio: 672 / 936;
  border-radius: 15px;
}

.cardLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;

  &[data-selected="true"] {
    outline: 2px solid var(--gourmet-orange-1);
  }

  &:focus-visible {
    outline: 3px solid var(--gourmet-blue-1);
  }

  &[data-disabled="true"]:hover {
    cursor: pointer;
  }
}
