.displayModeControl {
  label {
    color: var(--gourmet-neutral-9);
    font-family: var(--cgm-ui-font-family), ui-sans-serif;

    &[data-active="true"] {
      color: var(--gourmet-neutral-0);
    }
  }
}

.visibilityBadge {
  background-color: var(--gourmet-neutral-3);
  border-radius: 4px;
  padding: 0.1rem 0.25rem;
}

.editButton {
  background-color: transparent;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }
}
