.newHereBanner {
  border-radius: 0.25rem;
  background-color: color-mix(in srgb, var(--gourmet-blue-3), white 30%);

  width: 60rem;
}

.newHereNumber {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gourmet-neutral-2);
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
}
