.textInput {
  input {
    font-family: var(--cgm-content-font-family), sans-serif;
    font-size: 1rem;
    font-weight: 300;

    &:focus-visible {
      border: 1px solid var(--gourmet-blue-1);
    }

    &[data-validated="true"] {
      border: 1px solid var(--gourmet-green-1);
    }
  }
}

.error {
  font-family: var(--cgm-ui-font-family), sans-serif;
  font-size: 0.8rem;

  color: var(--gourmet-red-01);
}
