.dropdownTextButton:hover[data-disabled="false"] {
  --color: var(--gourmet-blue-1);
  --hover-color: color-mix(in srgb, var(--color), black 10%);

  p {
    color: var(--hover-color) !important;
  }

  svg {
    fill: var(--hover-color);
  }
}
