.accordionControl {
  border-bottom: 1px solid var(--gourmet-neutral-4);

  &:hover {
    background-color: var(--gourmet-neutral-2);
  }
}

.accordionItem {
  border: none;
}

.accordionContent {
  padding: 1rem 0 0 0;
}
