.iconButton {
  border-radius: 0.5rem;
  padding: 0.5rem;

  &:hover {
    background-color: var(--gourmet-neutral-2);
  }
}

.subIconButton {
  border-radius: 0.25rem;
  padding: 0.5rem;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }
}
