.queryExplanation {
  display: flex;
  flex-direction: row;

  p {
    margin: 1rem;
    width: 50%;
    font-size: 1.05rem;
    font-family: var(--cgm-ui-font-family), ui-sans-serif;

    @media (max-width: 720px) {
      width: 100%;
    }
  }

  /* stolen from Krypta, without Mantine though (lol) */
  code {
    background-color: var(--gourmet-teal-1);
    border-radius: 0.25rem;
    color: var(--gourmet-blue-5);
    font-family: var(--cgm-monospace-font-family), monospace;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 2px calc(0.625rem / 2);
    white-space: nowrap;
  }
}
