.sidebar {
  background-color: var(--gourmet-neutral-0);
  border-right: 0.1rem solid var(--cgm-sidebar-border);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  height: 100dvh;
  position: fixed;
  z-index: var(--sidebar-layer);

  div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.sidebarLogo {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.sidebarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  padding: 0.5rem;

  svg {
    color: var(--gourmet-neutral-6);
  }
}

.sidebarButton:hover {
  background-color: var(--gourmet-neutral-3);
}

.sidebarButton[data-disabled="true"] {
  pointer-events: none;

  svg {
    color: var(--cgm-sidebar-border);
  }
}

.sidebarButton[data-state="enabled"] {
  background-color: var(--cgm-sidebar-button-bg);

  svg {
    color: var(--gourmet-neutral-0);
  }
}

@media (max-width: 720px) {
  .sidebar {
    display: none;
  }
}

.mobileSidebar {
  position: fixed;
  top: 0;
  left: -50%;
  z-index: var(--sidebar-layer);
  width: 50%;
  height: 100%;
  background-color: var(--gourmet-neutral-0);

  display: flex;
  flex-direction: column;

  box-shadow: 0.25rem 0 0.2rem -0.2rem var(--gourmet-black-1);
  transition: left 0.1s ease-in-out;
}

@media (max-width: 720px) {
  .mobileSidebar.shown {
    left: 0;
  }
}

.mobileSidebarTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;

  height: var(--navbar-height);

  border-bottom: 0.1rem solid var(--gourmet-neutral-1);
}

.mobileSidebarTop > button {
  border: none;
  background-color: transparent;
}

.mobileSidebarBottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0 0 0;
}

.mobileSidebarLink {
  display: flex;
  flex-direction: row;
  align-items: center;

  text-decoration: none;
  padding: 0 1rem 0 1rem;
  gap: 1rem;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }

  &.active {
    background-color: var(--cgm-sidebar-button-bg);

    p {
      color: var(--gourmet-neutral-0);
    }

    svg {
      color: var(--gourmet-neutral-0);
    }
  }
}
