:root {
  --gourmet-blue-1: #579dff;
  --gourmet-blue-2: #0055cc;
  --gourmet-blue-3: #388bff;
  --gourmet-blue-4: #0949a3;
  --gourmet-blue-5: #339af0;
  --gourmet-blue-6: #1c2b41;
  --gourmet-blue-7: #09326c;

  --gourmet-teal-1: rgba(34, 139, 230, 0.15);

  --gourmet-orange-1: #cf8636;
  --gourmet-orange-2: #443121;

  --gourmet-white-1: #f9f6ee;
  --gourmet-black-1: #0b0c0c;
  --gourmet-black-2: #191d21;

  --gourmet-neutral-dark-1: #161a1d;
  --gourmet-neutral-dark-2: #1d2125;
  --gourmet-neutral-dark-3: #22272b;
  --gourmet-neutral-dark-4: #2c333a;
  --gourmet-neutral-dark-5: #454f59;
  --gourmet-neutral-dark-6: #596773;
  --gourmet-neutral-dark-7: #738496;
  --gourmet-neutral-dark-8: #8c9bab;
  --gourmet-neutral-dark-9: #9fadbc;
  --gourmet-neutral-dark-10: #b6c2cf;

  --gourmet-neutral-light-1: #ffffff;
  --gourmet-neutral-light-2: #f7f8f9;
  --gourmet-neutral-light-3: #f1f2f4;
  --gourmet-neutral-light-4: #dcdfe4;
  --gourmet-neutral-light-5: #b3b9c4;
  --gourmet-neutral-light-6: #8590a2;
  --gourmet-neutral-light-7: #758195;
  --gourmet-neutral-light-8: #626f86;
  --gourmet-neutral-light-9: #44546f;
  --gourmet-neutral-light-10: #2c3e5d;
}
