@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Onest:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Onest:wght@100..900&display=swap");

@layer base, mantine, mantine-reset, components, structures, views;

@layer base {
  :root {
    --krypta-color-brand: light-dark(oklch(54.19% 0.2065 259.4), oklch(69.57% 0.1612 257.18));

    /* new variables */
    --cgm-background-hover: light-dark(#000, #fff);
    --cgm-background-surface: light-dark(#fff, #161a1d);
    --cgm-background-primary: #f7f8f9;
    --cgm-border-highlight: light-dark(#ffffff1f, #ffffff2e);
    --cgm-border-primary: #0000002e;
    --cgm-border-secondary: light-dark(#0000002e, #ffffff2e);
    --cgm-border-width: 0.0625rem;
    --cgm-color-brand: light-dark(oklch(54.19% 0.2065 259.4), oklch(69.57% 0.1612 257.18));
    --cgm-color-negative: light-dark(oklch(49.99% 0.1663 28.93), oklch(64% 0.199 28.932));
    --cgm-color-neutral: light-dark(#44546f, #b6c2cf);
    --cgm-foreground-primary: light-dark(#2c3e5d, #ffffff);
    --cgm-foreground-primary-inverse: light-dark(#ffffff, #161a1d);
    --cgm-foreground-secondary: light-dark(#44546f, #b6c2cf);
    --cgm-foreground-tertiary: light-dark(#626f86, #8c9bab);
    --cgm-outline-width: 0.125rem;
    --cgm-shadow-skeuomorphic: 0 -1px 0 0 #0000000d inset;
    --cgm-shadow-xs: 0 1px 2px #0000000d;
  }

  body {
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  [data-cgm-accent="brand"] {
    --cgm-accent: var(--cgm-color-brand);
  }

  [data-cgm-accent="negative"] {
    --cgm-accent: var(--cgm-color-negative);
  }

  [data-cgm-accent="neutral"] {
    --cgm-accent: var(--cgm-color-neutral);
  }
}

@layer mantine-reset {
  body {
    font-family:
      "Supreme", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@font-face {
  font-family: "Recia";
  src: url("@/assets/fonts/Recia-Variable.woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recia";
  src: url("@/assets/fonts/Recia-VariableItalic.woff2") format("woff2");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("@/assets/fonts/Supreme-Variable.woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("@/assets/fonts/Supreme-VariableItalic.woff2") format("woff2");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ptcg-font";
  src: url("@/assets/fonts/ptcg-webfont.woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

html[data-mantine-color-scheme="light"] {
  color-scheme: light;
}

html[data-mantine-color-scheme="dark"] {
  color-scheme: dark;
}

html[data-mantine-color-scheme="auto"] {
  color-scheme: light dark;
}

:root {
  --overlay-layer: 10;
  --dropdown-layer: 20;
  --sticky-layer: 21;
  --nav-layer: 22;
  --sidebar-layer: 30;
  --modal-layer: 40;

  --navbar-height: 3.5rem;
  --sidebar-width: 3.5rem;

  --cgm-screen-cutoff-small: 720px;

  --cgm-sidebar-bg: var(--gourmet-neutral-1);
  --cgm-sidebar-border: var(--gourmet-neutral-3);
  --cgm-sidebar-button-bg: var(--gourmet-blue-1);

  --cgm-navbar-bg: var(--gourmet-neutral-0);
  --cgm-navbar-border: var(--gourmet-neutral-3);

  --cgm-text-color: var(--gourmet-neutral-9);
  --cgm-text-color-less-dimmed: var(--gourmet-neutral-7);
  --cgm-text-color-dimmed: var(--gourmet-neutral-6);

  --cgm-button-bg: var(--gourmet-neutral-1);
  --cgm-button-border: var(--gourmet-neutral-2);
  --cgm-button-highlight-bg: var(--gourmet-blue-2);
  --cgm-button-highlight-border: var(--gourmet-blue-3);
  --cgm-icon-button-highlight-bg: var(--gourmet-blue-3);

  --cgm-content-font-family: "Onest", "Onest Fallback";
  --cgm-monospace-font-family: "JetBrains Mono", "JetBrains Mono Fallback";
  --cgm-serif-font-family: "Recia", serif;
  --cgm-ui-font-family: "Supreme", ui-sans-serif;
  --cgm-title-font-family: "Livvic", Arial, sans-serif;

  --gourmet-dropdown-hover-bg: light-dark(var(--gourmet-neutral-1), var(--gourmet-neutral-2));
  --gourmet-dropdown-bg: light-dark(var(--gourmet-neutral-0), var(--gourmet-neutral-3));
  --gourmet-dropdown-bd: light-dark(var(--gourmet-neutral-3), var(--gourmet-neutral-5));
}
