.dropdown {
  position: relative;
  padding: 0;
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
}

.dropdownButton:hover {
  background-color: #2b3137;
}

.dropdownButton[active="true"] {
  background-color: #2b3137;
}

.dropdownContent {
  z-index: var(--dropdown-layer);
  display: none;
  position: absolute;
  min-width: 11rem;
  margin-top: 0.5rem;

  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #3e4650;
  background-color: #2b3137;
}

.dropdownContent[active="true"] {
  display: flex;
}

.dropdownContent[right="true"] {
  right: 0;
}

.dropdownContent div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 0.9rem;
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.25rem;

  p {
    margin: 0.5rem auto 0.5rem 0;
  }
}

.dropdownContent div:hover {
  background-color: #3e4650;
  cursor: pointer;
}
