.banner {
  background-color: var(--gourmet-green-1);
  color: var(--gourmet-black-1);

  p {
    font-weight: 500;
    font-size: 0.85rem;
    font-family: var(--cgm-content-font-family), sans-serif;
    color: var(--gourmet-black-1);
  }
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
