.contentNav {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--navbar-height);

  border: 0;
  border-bottom: var(--gourmet-gray-7) solid 2px;

  background-color: var(--gourmet-gray-3);
  z-index: var(--sticky-layer);
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;
}

button {
  border: 2px solid var(--gourmet-gray-8);
  background-color: var(--gourmet-gray-1);
  border-radius: 8px;
  color: var(--cgm-text-color);
  font-size: 1rem;
  padding: 0.5rem;
  min-width: 2.25rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

button:hover {
  background-color: var(--gourmet-gray-7);
}

button.currentPage {
  border: 2px solid var(--gourmet-blue-3);
  background-color: var(--gourmet-blue-2);
}

button:hover.currentPage {
  background-color: var(--gourmet-blue-4);
}

button:disabled {
  background-color: var(--gourmet-black-2);
  border: 2px solid var(--gourmet-gray-10);
  color: var(--gourmet-grey-3);

  cursor: default;
}

.buttonsMiddle {
  display: flex;
  gap: 0.25rem;
}

.middle {
  display: flex;
  align-items: center;
}

.pagination p {
  color: var(--cgm-text-color);
  margin: 0;
  font-family: var(--cgm-ui-font-family), ui-sans-serif;
}

.arrowsLeft,
.arrowsRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
