.contentNav {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: sticky;
  top: var(--navbar-height);
  z-index: var(--sticky-layer);

  height: var(--navbar-height);

  border: 0;
  border-bottom: var(--gourmet-neutral-3) solid 1px;
  background-color: var(--gourmet-neutral-0);
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;

  button {
    border: 2px solid var(--gourmet-neutral-2);
    background-color: var(--gourmet-neutral-1);
    border-radius: 8px;
    color: var(--cgm-text-color);
    font-size: 1rem;
    padding: 0.5rem;
    min-width: 2.25rem;
    height: 2.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
      background-color: var(--gourmet-neutral-3);
    }

    &.currentPage {
      border: 2px solid var(--gourmet-blue-3);
      background-color: var(--gourmet-blue-2);
    }

    &:hover.currentPage {
      background-color: var(--gourmet-blue-4);
    }

    &:disabled {
      background-color: var(--gourmet-neutral-0);
      border: 2px solid var(--gourmet-neutral-1);
      color: var(--gourmet-neutral-5);

      cursor: default;
    }
  }
}

.buttonsMiddle {
  display: flex;
  gap: 0.25rem;
}

.middle {
  display: flex;
  align-items: center;
}

.pagination p {
  color: var(--cgm-text-color);
  margin: 0;
  font-family: var(--cgm-ui-font-family), ui-sans-serif;
}

.arrowsLeft,
.arrowsRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
