.card {
  position: relative;
  word-break: break-all;

  border-radius: 15px;
  object-fit: contain;
  aspect-ratio: 672 / 936;
  max-width: 252px;
  max-height: 351px;

  img {
    border-radius: 15px;
    width: 100%;
    height: 100%;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.cardSelectionOverlay {
  opacity: 0.65;

  &[data-selected="true"] {
    opacity: 1;
  }
}

.cardSkeleton {
  position: absolute;
  inset: 0;
  z-index: 1;
  aspect-ratio: 672 / 936;
  border-radius: 15px;
}

.cardLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;

  &:focus-visible {
    outline: 3px solid var(--gourmet-blue-1);
  }

  &[data-selected="true"] {
    border-radius: 15px;
    outline: 2px solid var(--gourmet-orange-1);
  }

  &[data-disabled="true"]:hover {
    cursor: pointer;
  }
}

.cardLinkSelectable {
  &:hover {
    outline: 1px dashed var(--gourmet-orange-1);
    outline-offset: 2px;
  }
}

.flippableContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;

  &[flipped="true"] {
    transform: rotateY(180deg);
  }

  div {
    position: absolute;
    backface-visibility: hidden;
  }
}

.refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25rem;
  color: var(--gourmet-neutral-dark-1);
  background-color: var(--gourmet-neutral-light-1);
  border: solid 1px var(--gourmet-neutral-3);
  border-radius: 100%;

  opacity: 0.5;

  z-index: -1;

  svg {
    color: inherit;
  }

  &:focus-visible {
    outline: 2px solid var(--gourmet-blue-1);
    opacity: 1;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.card:has(:focus-visible) .overlayCheckbox,
.card:hover .overlayCheckbox {
  visibility: visible;
}

.card:has(:focus-visible) .overlayMenuButton,
.card:hover .overlayMenuButton {
  visibility: visible;
}

/* biome-ignore lint/style/noDescendingSpecificity: <> */
.overlayMenuButton {
  opacity: 0.5;
  visibility: hidden;

  &:hover,
  &:focus-visible {
    cursor: pointer;
    opacity: 1;
  }

  &[data-menu-opened="true"] {
    opacity: 1;
    visibility: visible !important;
  }
}

/* biome-ignore lint/style/noDescendingSpecificity: <> */
.overlayCheckbox {
  opacity: 0.5;
  visibility: hidden;

  input:not(:checked) {
    background-color: var(--gourmet-neutral-dark-3);
    border-color: var(--gourmet-neutral-dark-4);
  }

  &:hover,
  &:has(:focus-visible) {
    cursor: pointer;
    opacity: 1;
  }

  &[data-checked="true"] {
    opacity: 1;
    visibility: visible !important;
  }

  &[data-menu-opened="true"] {
    visibility: visible !important;
  }
}

.menuDropdown {
  button:hover {
    background-color: var(--gourmet-neutral-2);
  }
}
