.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th {
    position: sticky;
    top: calc(2 * var(--navbar-height));

    background-color: var(--gourmet-neutral-1);
    text-align: start;
    font-family: var(--cgm-content-font-family), sans-serif;
    border-bottom: 2px solid var(--gourmet-neutral-3);
    padding: 0.5rem 0.5rem;

    min-width: 0;
  }

  /* always tools. */
  th:nth-of-type(1),
  th:last-child {
    width: 2.25rem;
  }

  td {
    padding: 0 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: var(--cgm-content-font-family), sans-serif;
    white-space: nowrap;
    min-width: 0;

    a {
      display: block;
      padding: 0.5rem 0;
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline var(--gourmet-blue-5);
        text-underline-offset: 2px;
      }
    }
  }

  tr:nth-of-type(even) {
    background-color: var(--gourmet-neutral-2);
  }

  tr[data-selected="true"] {
    border-left: 1px solid var(--gourmet-orange-1);
  }

  @media (max-width: 800px) {
    th {
      position: inherit;
      border-bottom: none;
    }

    tr:nth-of-type(even) {
      background-color: transparent;
    }

    tr[data-cell="last"] {
      border-bottom: 2px solid var(--gourmet-neutral-3);
    }

    tr[data-selected="true"] {
      border-left: none;
    }

    td[data-selected="true"] {
      border-left: 1px solid var(--gourmet-orange-1);
    }
  }
}
