.cardSelectionOverlay {
  opacity: 0.65;

  &[data-selected="true"] {
    opacity: 1;
  }
}

.cardLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;

  &[data-selected="true"] {
    outline: 2px solid var(--gourmet-orange-1);
  }

  &:focus-visible {
    outline: 3px solid var(--gourmet-blue-1);
  }

  &[data-disabled="true"]:hover {
    cursor: pointer;
  }
}

.cardLinkSelectable {
  &:hover {
    outline: 1px dashed var(--gourmet-orange-1);
    outline-offset: 2px;
  }
}
