.controls {
  margin-top: 0.5rem;

  kbd {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 3px;

    border-radius: 0.2rem;
    max-height: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;

    background-color: var(--gourmet-neutral-3);
    border: 1px solid var(--gourmet-neutral-5);
    border-bottom-width: 2px;
  }
}
