body {
    background-color: #161a1d;

    h1, h2, h3, p {
        color: #9ba6b1;
        font-family: 'Montserrat', sans-serif;
    }
}

button {
    background-color: #9ba6b1;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0.75rem;
    font-family: var(--cgm-ui-font-family), sans-serif;

    button:hover {
        cursor: pointer;
    }
}

.sidebar {
    background-color: var(--cgm-sidebar-bg);
    border-right: 0.1rem solid var(--cgm-sidebar-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.5rem;
    height: 100dvh;
    position: fixed;
    z-index: var(--sidebar-layer);

    div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.sidebarLogo {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.sidebarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    padding: 0.5rem;

    svg {
        color: oklch(0.572 0.029 248.3);
    }
}

.sidebarButton:hover {
    background-color: #2C343A;
}

.sidebarButton[data-disabled="true"] {
    pointer-events: none;

    svg {
        color: var(--cgm-sidebar-border);
    }
}

.sidebarButton[data-state="enabled"] {
    background-color: var(--cgm-sidebar-button-bg);

    svg {
        color: #161a1d;
    }
}

@media (max-width: 720px) {
    .sidebar {
        display: none;
    }
}

.mobileSidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--sidebar-layer);
    width: 100%;
    height: 100%;
    background-color: #161a1d;

    display: flex;
    flex-direction: column;
}

.mobileSidebarTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 0.2rem solid #1d2125;

    a, button {
        margin: 1rem;
    }
}

.mobileSidebarBottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.navbar {
    left: var(--sidebar-width);
    height: var(--navbar-height);
    width: calc(100% - var(--sidebar-width));
    position: sticky;
    top: 0;
    z-index: var(--nav-layer);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--cgm-navbar-bg);
    border-bottom: 0.1rem solid var(--cgm-navbar-border);
    box-shadow: 0 0.25rem 0.2rem -0.2rem #0b0c0c;

    div {
        padding: 1.5rem;
    }

    p {
        font-family: var(--cgm-ui-font-family), ui-sans-serif;
    }

    .navbarLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .navbarRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .navbarSearch {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.mobileNavbar {
    width: 100%;
    height: var(--navbar-height);
    top: 0;
    left: 0;

    background-color: var(--cgm-sidebar-bg);
    border-bottom: 0.1rem solid var(--cgm-navbar-border);
    box-shadow: 0 0.25rem 0.2rem -0.2rem #0b0c0c;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobileNavbar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem 0 1rem;
}

.mobileNavbar button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: none;
    padding: 0;
}

.mainContent {
    margin-left: var(--sidebar-width);
}

@media (max-width: 720px) {
    .mainContent {
        margin-left: 0;
    }
}
