.playButton {
  background-color: transparent;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }
}

.moreButton {
  background-color: transparent;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }
}

.actionIcon {
  background-color: transparent;

  &:hover {
    background-color: var(--gourmet-neutral-3);
  }
}
