@layer structures {
  .base {
    background-color: var(--cgm-background-surface);
    border: var(--cgm-border-width) solid var(--cgm-border-secondary);
    border-radius: 0.75rem;
    box-shadow: var(--cgm-shadow-xs);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .content {
    align-items: stretch;
    background-color: var(--cgm-background-surface);
    border: var(--cgm-border-width) solid var(--cgm-border-secondary);
    border-radius: inherit;
    box-shadow: var(--cgm-shadow-skeuomorphic);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: var(--cgm-border-offset);
    padding: 1rem;
    position: relative;
  }

  .link {
    border-radius: inherit;
    inset: 0;
    position: absolute;

    &:focus-visible {
      outline: var(--cgm-outline-width) solid var(--cgm-color-brand);
      outline-offset: var(--cgm-outline-width);
    }
  }

  .logoContainer {
    background-color: color-mix(in oklab, var(--cgm-background-surface), transparent 50%);
    backdrop-filter: blur(128px) saturate(2);
    display: grid;
    min-height: 7rem;
    padding: 1rem 2rem 2rem;
    place-items: center;
    position: relative;

    &::before {
      border: var(--cgm-border-width) solid var(--cgm-border-highlight);
      border-radius: calc(0.75rem - var(--cgm-border-width) - var(--cgm-border-width));
      content: "";
      inset: var(--cgm-border-width);
      mask-image: linear-gradient(to bottom, black, transparent);
      opacity: 0.5;
      pointer-events: none;
      position: absolute;
    }
  }

  .logo {
    height: auto;
    max-height: 4rem;
    max-width: 100%;
    width: auto;
  }

  .metadata {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-top: auto;
  }

  .stage {
    background-image: var(--set-card-logo-src);
    background-position: center;
    background-size: cover;
    border-radius: calc(0.75rem - var(--cgm-border-width)) calc(0.75rem - var(--cgm-border-width)) 0 0;
    margin: 0;
    margin-bottom: -1rem;
    overflow: clip;
    width: 100%;
  }

  .title {
    align-items: flex-start;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
  }
}
