.overlayMenuButton {
  opacity: 0.5;
  visibility: hidden;

  &:hover,
  &:focus-visible {
    cursor: pointer;
    opacity: 1;
  }

  &[data-menu-opened="true"] {
    opacity: 1;
    visibility: visible !important;
  }
}

.overlayCheckbox {
  opacity: 0.5;
  visibility: hidden;

  input:not(:checked) {
    background-color: var(--gourmet-neutral-dark-3);
    border-color: var(--gourmet-neutral-dark-4);
  }

  &:hover,
  &:has(:focus-visible) {
    cursor: pointer;
    opacity: 1;
  }

  &[data-checked="true"] {
    opacity: 1;
    visibility: visible !important;
  }

  &[data-menu-opened="true"] {
    visibility: visible !important;
  }
}

.listLink:focus {
  border: none;
  outline: none;

  --stroke-color: var(--gourmet-blue-1);
  --stroke-width: 2px;
  --opacity: 1;
}

.listLabel {
  opacity: var(--opacity, 0.5);
  stroke: var(--stroke-color, var(--gourmet-neutral-0));
  stroke-width: var(--stroke-width, 1px);

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
