.menuDropdown {
  border: 1px solid var(--gourmet-neutral-4);
  border-radius: 0.5rem;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  background-color: var(--gourmet-blue-2);
  padding: 0.4rem 0.6rem;

  color: var(--gourmet-neutral-light-2);
  font-size: 0.95rem;
  font-family: var(--cgm-ui-font-family), ui-sans-serif;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--gourmet-blue-2), black 10%);
  }
}

.menuItem {
  background-color: var(--gourmet-dropdown-bg);

  &:not([data-disabled="true"]) {
    &:hover {
      background-color: var(--gourmet-dropdown-hover-bg);
    }
  }
}

.menuLoginButton {
  background-color: var(--gourmet-blue-1);

  &:hover {
    background-color: color-mix(in srgb, var(--gourmet-blue-1), white 10%);
  }
}
