.iconButton {
  border-radius: 0.5rem;
  padding: 0.5rem;

  &:hover {
    background-color: var(--cgm-button-border);
  }
}

.languageIcon {
  &:hover {
    border: 2px solid var(--gourmet-blue-1) !important;
  }
}
