.navbar {
  left: var(--sidebar-width);
  height: var(--navbar-height);
  width: calc(100% - var(--sidebar-width));
  position: sticky;
  top: 0;
  z-index: var(--nav-layer);

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 2rem 0 2rem;

  background-color: var(--cgm-navbar-bg);
  border-bottom: 0.1rem solid var(--cgm-navbar-border);
  box-shadow: 0 0.25rem 0.2rem -0.2rem var(--gourmet-black-1);

  p {
    font-family: var(--cgm-ui-font-family), ui-sans-serif;
  }

  .navbarSearch {
    grid-column: 2;
    max-width: fit-content;
  }

  .navbarRight {
    grid-column: 3;
    justify-self: end;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: 1111px) {
    grid-template-columns: auto 1fr;
  }
}

.mobileNavbar {
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  position: sticky;
  z-index: var(--nav-layer);

  background-color: var(--cgm-sidebar-bg);
  border-bottom: 0.1rem solid var(--cgm-navbar-border);
  box-shadow: 0 0.25rem 0.2rem -0.2rem var(--gourmet-black-1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    border-radius: 0.5rem;

    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: var(--gourmet-neutral-4);
    }
  }
}

.mobileNavbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  padding: 0 1rem 0 1rem;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--cgm-button-border);
  }
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  background-color: var(--gourmet-blue-2);
  padding: 0.4rem 0.6rem;

  color: var(--gourmet-neutral-light-2);
  font-size: 0.95rem;
  font-family: var(--cgm-ui-font-family), ui-sans-serif;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: var(--gourmet-blue-2-lighten);
  }
}

.searchBarDrawer {
  background-color: var(--gourmet-neutral-0);
}
