.mainContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 1.5rem;
  max-width: 1280px;

  overflow: visible;
}

.contentNav {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--navbar-height);

  border: 0;
  border-bottom: #2b3137 solid 2px;

  background-color: #161a1d;
  z-index: var(--sticky-layer);
}

.cardsOverview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  column-gap: 0.5rem;
  justify-content: center;
}

@media (max-width: 1110px) {
  .cardsOverview {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 930px) {
  .cardsOverview {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 750px) {
  .cardsOverview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 565px) {
  .cardsOverview {
    grid-template-columns: repeat(2, 1fr);
  }
}
