.quickActionButton {
  padding: 0.4rem 0.45rem;

  &:hover {
    background-color: var(--gourmet-neutral-2);
    border-radius: 0.25rem;
  }
}

.quickActionGroup {
  border-radius: 0.25rem;
  border: 1px solid var(--gourmet-neutral-3);
}
