.textInputRoot {
  .textInputInput {
    font-family: var(--cgm-content-font-family), sans-serif;
    font-size: 1rem;

    &:focus-visible {
      border-color: var(--gourmet-blue-2);
      outline: 1px solid var(--gourmet-blue-2);
    }
  }
}

.checkboxRoot {
  font-family: var(--cgm-content-font-family), sans-serif;

  .checkboxInput {
    &:checked {
      background-color: var(--gourmet-blue-2);
      border-color: var(--gourmet-blue-2);
    }
  }

  .checkboxLabel {
    font-family: var(--cgm-content-font-family), sans-serif;
    font-size: 1rem;
    font-weight: 200;
  }
}

.selectRoot {
  .selectInput {
    font-family: var(--cgm-content-font-family), sans-serif;
    font-size: 1rem;
    font-weight: 200;

    &:focus-visible {
      border-color: var(--gourmet-blue-2);
      outline: 1px solid var(--gourmet-blue-2);
    }
  }
}

.selectOption {
  font-size: 1rem;
}

.multiSelectRoot {
  .multiSelectInput {
    font-family: var(--cgm-content-font-family), sans-serif;
    font-size: 1rem;

    &:focus-within {
      border-color: var(--gourmet-blue-2);
      outline: 1px solid var(--gourmet-blue-2);
    }
  }

  .multiSelectPill {
    font-size: 1rem;
  }
}

.multiSelectOption {
  font-size: 1rem;
}

.numberInputInput {
  font-size: 1rem;
  font-family: var(--cgm-content-font-family), sans-serif;
  width: 6rem;
}
